@use '../../../theme/buttons.scss';

.Dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
  &__container {
    width: 77%;
    margin-left: 120px;
    overflow-y: scroll;
    &-title {
      color: var(--main-text);
      font-weight: 500;
      font-size: 20px;
      margin: 0;
      padding: 20px 0;
    }
    &-top {
      display: flex;
      flex-direction: column;
      background-color: var(--secondary-90);
      padding: 24px 40px;
      border-radius: 10px;
      & p:first-child {
        font-weight: 500;
        font-size: 24px;
        color: var(--main-text);
        margin-bottom: 0;
      }
      & p:last-child {
        font-weight: 400;
        font-size: 16px;
        color: var(--grey-50);
        margin-bottom: 0;
      }
      & a {
        @include buttons.button-lg;
        padding: 8px 23px !important;
        font-size: 20px !important;
        margin-top: 29px;
        align-self: flex-end;
      }
    }
    &-info {
      display: flex;
      justify-content: space-between;
      overflow-x: scroll;
      width: 100%;
    }
    &-thirdBox {
      border: 1px solid var(--primary-90);
      border-radius: 10px;
      padding: 20px 15px;
      margin: 20px 0;
      width: 270px;
      height: 185px;
      margin-right: 20px;
      &__title {
        width: 240px;
      }
      &__span {
        font-weight: 300;
        font-size: 14px;
        color: var(--grey-50);
      }
      & p {
        margin: 0;
        color: var(--main-text);
      }
      &__img {
        display: flex;
        justify-content: flex-end;
        margin-top: -90px;
      }
      &__pending:last-child {
        @include buttons.buttonOutline-xs;
        cursor: default !important;
      }
    }
  }
  &__graphics {
    &-firstLine,
    &-secondLine {
      display: block;
    }
    &-secondLine {
      margin: 20px 0;
    }
  }
  &__onboarding {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
}

.DataLastMonths {
  border: 1px solid var(--primary-90);
  border-radius: 10px;
  padding: 20px 15px;
  margin: 20px 20px 20px 0;
  width: 270px;
  height: 185px;
  color: var(--main-text);
  &__header,
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    &-title {
      font-weight: 300;
      font-size: 14px;
      color: var(--grey-50);
    }
  }
  & p {
    margin: 0;
  }
  &__header {
    margin-bottom: 24px;
  }
  &__content {
    margin-bottom: 16px;
  }
  input[type='date'] {
    border: none;
    width: 20px;
    outline: none;
  }
}

@media (min-width: 1280px) {
  .Dashboard {
    &__container {
      margin-left: 300px;
      &-top {
        flex-direction: row;
      justify-content: space-between;
      align-items: center;
      & p:first-child {
        margin-bottom: 8px;
      }
      & a {
        padding: 23px !important;
        margin-top: 0px;
      }
      }
      &-title {
        padding: 0 48px 0 32px;
        font-size: 26px;
      }
      &-info {
        width: 100%;
      }
      &-thirdBox {
        width: 33.3%;
        margin-right: 0px;
        &__title {
          width: 100%;
        }
      }
    }
    &__graphics {
      &-firstLine {
        height: 320px;
        display: flex;
      }
      &-secondLine {
        height: 250px;
        display: flex;
      }
    }
  }
  .DataLastMonths {
    width: 33.3%;
    &__content{
      width: 100%;
    }
    &__header {
      width: 100%;
    }
  }
}

@media (min-width: 1536px) {
  .Dashboard {
    &__container {
      width: 73%;
      margin-left: 500px;
    }
  }
}
