@mixin section {
  &-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--main-primary);
    margin-bottom: 18px;
  }
  &-subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--main-text);
    margin-bottom: 27px;
  }
  &-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--grey-40);
    width: 100%;
    text-align: start;
    margin-bottom: 76px;
  }
}
@mixin btnOut {
  border: 1px solid var(--primary-90);
  border-radius: 8px;
  background-color: transparent;
  color: var(--main-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 12px 0;
  width: 138px;
  text-decoration: none;
  text-align: center;
  &:hover {
    color: var(--main-white);
  }
}
@mixin btnIn {
  border: 1px solid var(--main-white);
  border-radius: 8px;
  background-color: var(--main-white);
  color: var(--main-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 12px 0;
  width: 138px;
  text-decoration: none;
  text-align: center;
  &:hover {
    color: var(--main-primary);
  }
}

.LandingContainer {
  background: url('./bg1.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  overflow-x: hidden;
  &__Navbar {
    background-color: var(--main-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 29px;
    border-bottom: 1px solid var(--primary-50);
    &-part1 {
      display: flex;
      align-items: center;
      & p {
        display: none;
      }
      & img {
        width: 98px;
      }
    }
    &-part2 {
      display: flex;
      align-items: center;
      & a:not(:last-child) {
        margin-right: 18px;
      }
      &__medium {
        color: var(--primary-80);
        text-decoration: none;
        border-bottom: 1px solid var(--primary-40);
        padding: 0;
        &:hover {
          color: var(--primary-80);
        }
        & img {
          margin-left: 10px;
        }
      }
      &__signin {
        display: none;
        @include btnOut();
      }
      &__signup {
        display: none;
        @include btnIn();
      }
    }
  }
  &__Section1 {
    color: var(--main-white);
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 28px;
    &-title {
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
    }
    &-subtitle {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
    }
    &-btns {
      margin-bottom: 67px;
      display: flex;
      flex-direction: column;
      width: 90%;
      & a {
        @include btnIn();
        padding: 14px 40px;
        width: 100% !important;
      }
      & button {
        @include btnOut();
        margin-left: 0px;
        margin-top: 25px;
        width: 100% !important;
      }
    }
    & img {
      width: 90%;
    }
  }
  &__Section2 {
    @include section();
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 50px 0 108px;
    padding-left: 28px;
    &-subtitle {
      width: 60%;
    }
    &-cards {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 28px 0 0;
    }
    &-card {
      border: 1px solid var(--primary-90);
      border-radius: 16px;
      padding: 32px;
      margin-bottom: 24px;
      &:not(:last-child) {
        margin-right: 0px;
      }
      &__title {
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        color: var(--main-text);
      }
      &__content {
        font-weight: 400;
        font-size: 14px;
        line-height: 170%;
        color: var(--grey-40);
      }
    }
    &-btns {
      margin-top: 76px;
      display: flex;
      flex-direction: column;
      width: 90%;
      & a {
        @include btnOut();
        background-color: var(--main-primary);
        padding: 14px 40px;
        width: 100% !important;
      }
      & button {
        @include btnIn();
        border: 1px solid var(--main-primary);
        color: var(--main-primary);
        margin-left: 0px;
        margin-top: 25px;
        width: 100% !important;
      }
    }
  }
  &__Section3 {
    @include section();
    background: url('./bg2Mob.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 28px;
    &-subtitle {
      width: 90% !important;
    }
    &-content {
      width: 70% !important;
      text-align: start;
    }
    & a {
      @include btnIn();
      background-color: var(--main-primary);
      color: var(--main-white);
      border: 1px solid var(--main-primary);
      padding: 14px 40px;
      margin-top: 88px;
      margin-bottom: 56px;
      width: 100% !important;
    }
    & img {
      width: 317px;
    }
  }
  &__Section4 {
    @include section();
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 28px;
    & img {
      margin-right: 0px;
      width: 317px;
    }
    &-subtitle {
      width: 110% !important;
    }
    &-content {
      width: 95% !important;
      text-align: start;
    }
    & a {
      @include btnIn();
      background-color: var(--main-primary);
      color: var(--main-white);
      border: 1px solid var(--main-primary);
      padding: 14px 40px;
      margin-top: 88px;
      margin-bottom: 56px;
      width: 100% !important;
    }
  }
  &__Section5 {
    @include section();
    display: flex;
    flex-direction: column;
    align-items: center;
    &-cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 74px;
    }
    &-subtitle,
    &-content {
      text-align: center;
    }
    &-content {
      width: 90%;
    }
    &-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:not(:first-child) {
        margin-left: 0px;
      }
      &__content {
        width: 236px;
        text-align: center;
        margin-left: 30px;
        margin-top: 24px;
      }
    }
    &-btns {
      margin-bottom: 119px;
      & a {
        @include btnOut();
        background-color: var(--main-primary);
        padding: 14px 40px;
      }
      & button {
        @include btnIn();
        border: 1px solid var(--main-primary);
        color: var(--main-primary);
        margin-left: 25px;
      }
    }
  }
  &__Section6 {
    padding: 115px 131px;
    &-content {
      display: flex;
      justify-content: space-around;
    }
    &-questions {
      margin-top: 92px;
      z-index: 5;
      & div {
        width: 647px;
        border: none;
        box-shadow: 0px 0px 1px 1px var(--grey-20);
        background-color: var(--main-white);
        padding: 24px 16px;
        text-align: start;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var(--main-text);
        display: flex;
        justify-content: space-between;
        align-items: center;
        & article {
          display: flex;
          & p {
            margin-top: 5px;
            margin-bottom: 0;
          }
        }
        & span {
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          color: var(--primary-80);
          margin-right: 16px;
        }
        & button {
          border: none;
          background-color: transparent;
          align-self: flex-end;
          font-size: 24px;
          margin-left: 24px;
          color: var(--primary-80);
          cursor: pointer;
        }
      }
      &__selected {
        background-color: var(--question-selected) !important;
      }
      &__btnSelected {
        color: var(--main-primary) !important;
      }
    }
    &-answers {
      background: rgba(238, 248, 254, 0.5);
      padding: 44px 34px 0px 142px;
      margin-top: 48px;
      margin-left: -100px;
      height: 503px;
      border-radius: 16px;
      &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: var(--main-text);
        margin-bottom: 40px;
      }
      &__content {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: var(--grey-70);
      }
    }
    &-title {
      font-weight: 500;
      font-size: 48px;
      line-height: 57px;
      color: var(--main-text);
    }
  }
  &__Section7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 28px;
    & p {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: var(--main-text);
      margin-bottom: 40px;
    }
    &-accelerated {
      margin-bottom: 56px;
      & img {
        width: 135px;
        &:last-child {
          margin-left: 42px;
        }
      }
    }
  }
  &__Footer {
    background-color: var(--main-primary);
    border-radius: 24px 24px 0px 0px;
    padding: 60px;
    &-part1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & img {
        margin-bottom: 48px;
      }
      & p {
        color: var(--primary-70);
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 60px;
      }
    }
    &-part2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        & a {
          color: var(--main-white);
          text-decoration: none;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 32px;
          &:not(:last-child) {
            margin-right: 0px;
          }
          &:hover {
            color: var(--primary-40);
          }
        }
      }
      &__sm {
        display: flex;
        flex-direction: column;
        align-items: center;
        & a {
          margin-right: 16px;
          color: var(--main-white);
          text-decoration: none;
          &:last-child {
            margin-top: 24px;
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .LandingContainer {
    background-size: 100% 1100px;
    &__Navbar {
      padding: 39px 100px;
      border-bottom: none;
      &-part1 {
        & p {
          display: block;
          margin: 0;
          color: var(--primary-50);
          margin-left: 36px;
        }
        & img {
          width: 195px;
        }
      }
      &-part2 {
        &__medium {
          padding: 16px 0;
        }
        &__signin {
          display: block;
          @include btnOut();
        }
        &__signup {
          display: block;
          @include btnIn();
        }
      }
    }
    &__Section1 {
      align-items: center;
      padding-left: 0px;
      &-title {
        font-weight: 700;
        font-size: 60px;
        line-height: 71px;
        margin-bottom: 32px;
      }
      &-subtitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 67px;
      }
      &-btns {
        flex-direction: row;
        justify-content: center;
        & a {
          width: 138px !important;
        }
        & button {
          margin-left: 25px;
          margin-top: 0;
          width: 138px !important;
        }
      }
      & img {
        width: 924px;
      }
    }
    &__Section2,
    &__Section3,
    &__Section4,
    &__Section5 {
      &-title {
        font-size: 20px;
        line-height: 24px;
      }
      &-subtitle {
        width: 100%;
        font-size: 48px;
        line-height: 57px;
      }
      &-content {
        width: 45%;
        font-size: 16px;
        line-height: 20px;
      }
    }
    &__Section2 {
      align-items: center;
      padding-left: 0px;
      &-subtitle {
        text-align: center;
      }
      &-content {
        text-align: center;
      }
      &-cards {
        padding: 0 130px;
        flex-direction: row;
      }
      &-card {
        margin-bottom: 0px;
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
      &-btns {
        flex-direction: row;
        justify-content: center;
        & a {
          width: 138px !important;
        }
        & button {
          margin-left: 25px;
          margin-top: 0;
          width: 138px !important;
        }
      }
    }
    &__Section3 {
      background: url('./bg2.svg');
      background-size: cover;
      flex-direction: row;
      padding: 150px 130px;
      & img {
        width: 545px;
      }
      & a {
        margin-top: 0px;
        margin-bottom: 0px;
        width: 138px !important;
      }
    }
    &__Section4 {
      flex-direction: row;
      padding: 150px 130px;
      & img {
        margin-right: 168px;
        width: 508px;
      }
      & a {
        margin-top: 0px;
        margin-bottom: 0px;
        width: 138px !important;
      }
    }
    &__Section5 {
      &-content {
        width: 45%;
      }
      &-cards {
        flex-direction: row;
      }
      &-card {
        &:not(:first-child) {
          margin-left: 148px;
        }
      }
    }
    &__Section7 {
      align-items: center;
      padding-left: 0px;
      & p {
        font-size: 48px;
        line-height: 57px;
        margin-bottom: 88px;
      }
      &-accelerated {
        margin-bottom: 173px;
        & img {
          width: 296px;
        }
      }
    }
    &__Footer {
      padding: 52px 130px 84px;
      &-part1,
      &-part2 {
        flex-direction: row;
        justify-content: space-between;
      }
      &-part2 {
        &__links {
          flex-direction: row;
          & a {
            margin-bottom: 0px;
            &:not(:last-child) {
              margin-right: 32px;
            }
          }
        }
        &__sm {
          flex-direction: row;
          & a:last-child {
            margin-top: 0px;
          }
        }
      }
    }
  }
}

@media (min-width: 1536px) {
  .LandingContainer {
    &__Section2 {
      &-cards {
        padding: 0 330px;
      }
    }
    &__Section3,
    &__Section4,
    &__Section6 {
      padding: 150px 300px;
    }
    &__Section4 {
      &-subtitle {
        width: 90% !important;
      }
    }
  }
}
