.ComputeFinder {
    display: flex;
    height: 100vh;
    &__container {
        margin-left: 300px;
    }
}

@media (min-width: 1536px) {
    .ComputeFinder {
        &__container {
            margin-left: 500px;
        }
    }
}