.ComputeFinder {
  display: flex;
  height: 100vh;
  overflow: hidden;
  &__container {
    width: 78.5%;
    margin-left: 120px;
    overflow-y: scroll;
    &-title {
        color: var(--main-text);
        font-weight: 500;
        font-size: 20px;
        margin: 0;
        padding: 20px 0;
      }
  }
  &__interestingData {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    overflow-x: scroll;
    border: 1px solid var(--secondary-80);
    border-radius: 16px;
    background-color: var(--secondary-90);
    margin-bottom: 22px;
    margin-top: 20px;
    width: 95%;
    & p {
      margin: 0;
      color: var(--grey-80);
      white-space: nowrap;
      font-weight: 500;
      font-size: 10px;
      display: flex;
      align-items: center;
      padding-left: 32px;
      & img {
        margin-right: 8px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .ComputeFinder {
    &__container {
      margin-left: 300px;
      &-title {
        padding: 0 48px 0 0px;
        font-size: 26px;
      }
    }
    &__interestingData {
      overflow-x: scroll;
      padding: 20px 60px;
      width: 100%;
      margin-top: 0px;
      & p {
        font-size: 14px;
        padding-left: 0px;
      }
    }
  }
}

@media (min-width: 1536px) {
  .ComputeFinder {
    &__container {
      width: 73%;
      margin-left: 500px;
    }
  }
}
