@mixin border {
  border: 1px solid var(--primary-90);
  border-radius: 10px;
  padding: 16px;
}

.VerticalBar {
  @include border;
  margin-right: 0px;
  &__legend {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;
    color: var(--grey-80);
    font-weight: 300;
    font-size: 14px;
    & img {
      margin-right: 8px;
    }
  }
  &__container {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
  }
}

.Doughnut {
  margin-top: 20px;
  @include border;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    width: 100%;
    height: 70%;
  }
}

.Pie {
  @include border;
  margin-right: 0px;
  &__legend {
    color: var(--grey-80);
    font-weight: 300;
    font-size: 14px;
    & img {
      margin-right: 8px;
    }
    & p {
      min-width: 85px;
    }
    & p:first-child {
      margin-bottom: 10px;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    width: 75%;
    height: 120px;
  }
}

.HorizontalBar {
  margin-top: 20px;
  border-top: 1px solid var(--primary-90);
  border-left: 1px solid var(--primary-90);
  border-right: 1px solid var(--primary-90);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  padding: 16px;
  &__legend {
    border-top: none;
    border-left: 1px solid var(--primary-90);
    border-right: 1px solid var(--primary-90);
    border-bottom: 1px solid var(--primary-90);
    border-radius: 0 0 10px 10px;
    padding: 16px;
    font-weight: 300;
    font-size: 16px;
    &-line0, &-line1 {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    & img {
        margin-right: 8px;
      }
  }
  &__container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
  }
}

@media (min-width: 1280px) {
  .VerticalBar {
    padding: 27px 35px;
    margin-right: 20px;
    width: 70%;
    &__legend {
      justify-content: center;
      font-size: 16px;
    }
    &__container {
      width: 100%;
      padding-left: 60px;
      height: 200px !important;
    }
  }
  .Doughnut {
    margin-top: 0px;
    padding: 16px 30px;
    width: 30%;
  }
  .Pie {
    margin-right: 20px;
    width: 36%;
    &__legend {
      font-size: 16px;
      & p {
        min-width: 115px;
      }
      & p:first-child {
        margin-bottom: 20px;
      }
    }
    &__container {
      width: 75%;
      height: 75%;
    }
  }
  .HorizontalBar {
    margin-top: 0;
    width: 50%;
    @include border;
    border-radius: 16px 0 0 16px;
    &__legend {
      @include border;
      border-radius: 0 16px 16px 0;
      width: 400px;
      &-line0 {
        margin-top: 50px;
      }
      &-line0, &-line1 {
        display: flex;
        justify-content: space-around;
        width: 80%;
      }
    }
    &__container {
      flex-direction: row;
      margin-top: 20px;
      width: 350px !important;
    }
  }
}

