.ExistingPlans {
  display: flex;
  height: 100vh;
  &__container {
    width: 77%;
    margin-left: 300px;
    &-title {
      color: var(--main-text);
      font-weight: 500;
      font-size: 26px;
      margin: 0;
      padding: 0 48px 0 32px;
    }
  }
  &__interestingData {
    display: flex;
    justify-content: space-around;
    padding: 20px 60px;
    border: 1px solid var(--secondary-80);
    border-radius: 16px;
    background-color: var(--secondary-90);
    margin-bottom: 22px;
    & p {
      margin: 0;
      color: var(--grey-80);
      font-weight: 500;
      font-size: 14px;
      display: flex;
      align-items: center;
      & img {
        margin-right: 8px;
      }
    }
  }
}

@media (min-width: 1536px) {
  .ExistingPlans {
    &__container {
      width: 73%;
      margin-left: 500px;
    }
  }
}
