@mixin button {
  border-radius: 12px;
  width: fit-content;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  background-color: var(--main-primary);
  border: 1px solid var(--main-primary);
  color: var(--primary-90);
  &:hover {
    background-color: var(--primary-30);
    color: var(--primary-90);
  }
  &:disabled {
    cursor: not-allowed;
    background-color: var(--primary-40);
  }
}

@mixin button-lg {
  @include button();
  padding: 12px 16px;
}

@mixin button-xs {
  @include button();
  padding: 7.5px 16px;
}

@mixin buttonOutline-lg {
  @include button();
  border: 1px solid var(--main-primary) !important;
  background-color: var(--main-white) !important;
  color: var(--main-primary) !important;
  padding: 12px 16px;
}

@mixin buttonOutline-xs {
  @include button();
  border: 1px solid var(--main-primary) !important;
  background-color: var(--main-white) !important;
  color: var(--main-primary) !important;
  padding: 7.5px 16px;
}
