:root{
    --main-primary: #2C6CF6;
    --main-secondary: #55BFF9;
    --main-text: #102F4E;
    --main-white: #FFFFFF;

    --primary-40: #80A7FA;
    --primary-50: #96B6FB;
    --primary-70: #BFD3FC;
    --primary-80: #D5E2FD;
    --primary-90: #E9F0FE;

    --secondary-40: #99D9FB;
    --secondary-50: #AADFFC;
    --secondary-70: #CCECFD;
    --secondary-80: #DDF2FE;
    --secondary-90: #EEF8FE;

    --grey-80: #405971;
    --grey-70: #586E84;
    --grey-60: #708295;
    --grey-50: #8796A6;
    --grey-40: #9FACB8;
    --grey-30: #B8C1CA;
    --grey-20: #F2F2F2; //Input border

    --decoration-5: #13D733;
    --avatar: #477ED0;
    --textTable: #232859;
}