.NavbarContainer {
    background-color: var(--main-primary);
    width: 72px;
    padding: 33.5px 16px 87.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__routing {
        width: 100%;
        &-logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & img {
                width: 70px;
            }
        }
        &-hr {
            width: 40px;
            margin-top: 30px;
            margin-bottom: 80px;
            border: 0.5px solid var(--primary-40);
        }
    }
    &__user {
        width: 100%;
        &-avatar {
            width: fit-content;
            border: 2px solid var(--avatar);
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            & img {
                border-radius: 100%;
                width: 40px;
                height: 40px;
            }
        }
        &-info {
            display: flex;
            align-items: center;
            margin-top: 28px;
        }
        &-name {
            margin-left: 5px;
            & p:first-child {
                font-size: 14px;
                font-weight: 400;
                color: var(--main-white);
                margin-bottom: 0;
            }
            & p:last-child {
                font-size: 10px;
                font-weight: 400;
                color: var(--primary-40);
                margin-top: 0;
            }
        }
        &-settings {
            color: var(--main-white);
            font-weight: 500;
            margin-left: 5px;
        }
        &-settingsImg {
            margin: 0px 0px 20px 25px;
        }
        &-hr {
            width: 40px;
            border: 0.5px solid var(--primary-40);
        }
    }
}

.Routing {
    &__list {
        list-style: none;
        padding: 0;
        & li {
            border-radius: 15px;
            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                padding: 14px;
                height: 40px;
                & img {
                    margin-right: 0px;
                }
            }
        }
        &-white {
            background-color: var(--main-white);
            & a {
                color: var(--main-primary);
            }
        }
        &-blue {
            background-color: none;
            & a {
                color: var(--main-white);
            }
        }
    }
}

@media (min-width: 1024px) {
    .NavbarContainer {
        width: 250px;
        &__routing {
            &-hr {
                width: 240px;
            }
            &-logo {
                & img {
                    width: fit-content;
                }
            }
        }
        &__user {
            &-hr {
                width: 240px;
            }
            &-settingsImg {
                margin: 0px 0px 20px 20px;
            }
        }
    }
    .Routing {
        &__list {
            & li {
                & a {
                    justify-content: flex-start;
                    height: fit-content;
                    & img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}