.NavbarContainer {
    background-color: var(--main-primary);
    min-width: 72px;
    padding: 33.5px 16px 87.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    &__routing {
        width: 100%;
        &-logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & img {
                width: 70px;
            }
        }
        &-hr {
            width: 40px;
            margin-top: 30px;
            margin-bottom: 80px;
            border: 0.5px solid var(--primary-40);
        }
    }
    &__user {
        width: 100%;
        &-info {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 28px;
        }
        &-name {
            margin-left: 5px;
            & p {
                font-size: 14px;
                font-weight: 400;
                color: var(--main-white);
                margin-bottom: 0;
            }
            & p:last-child {
                font-size: 10px;
                font-weight: 400;
                color: var(--primary-40);
                margin-top: 0;
            }
        }
        &-settings {
            color: var(--main-white);
            font-weight: 500;
            margin-left: 5px;
            border-bottom: 0.5px solid var(--primary-40);
            padding-bottom: 8px;
        }
        &-settingsImg {
            margin: 0px 0px 20px 25px;
        }
    }
}

.Routing {
    &__list {
        list-style: none;
        padding: 0;
        & li {
            border-radius: 15px;
            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                padding: 14px;
                height: 65px;
                & img {
                    margin-right: 0px;
                }
            }
        }
        &-white {
            background-color: var(--main-white);
            & a {
                color: var(--main-primary);
                &:hover {
                    color: var(--main-primary);
                }
            }
        }
        &-blue {
            background-color: none;
            & a {
                color: var(--main-white);
                &:hover {
                    color: var(--main-white);
                }
            }
        }
    }
}

.disabled {
    pointer-events: none;
}

@media (min-width: 1280px) {
    .NavbarContainer {
        min-width: 250px;
        &__routing {
            &-hr {
                width: 240px;
            }
            &-logo {
                & img {
                    width: fit-content;
                }
            }
        }
        &__user {
            &-hr {
                width: 240px;
            }
            &-settingsImg {
                margin: 0px 0px 20px 20px;
            }
        }
    }
    .Routing {
        &__list {
            & li {
                & a {
                    justify-content: flex-start;
                    height: fit-content;
                    & img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1536px) {
    .NavbarContainer {
        min-width: 450px;
        &__routing {
            &-hr {
                width: 350px;
            }
        }
        &__user {
            
        }
    }
    .Routing {
        &__list {
            & li {
                & a {
                    padding: 24px 14px;
                }
            }
        }
    }
}