@use '../../../theme/buttons.scss';

.Account {
  display: flex;
  height: 100vh;
  overflow: hidden;
  &__container {
    width: 77%;
    margin-left: 120px;
    overflow-y: scroll;
    &-main {
      border: 1px solid var(--primary-90);
      border-radius: 16px;
      height: fit-content;
      padding: 90px 137px;
    }
    &-title {
      color: var(--main-text);
      font-weight: 500;
      font-size: 20px;
      margin: 0;
      padding: 20px 0;
    }
    &-menu {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 140px;
      &__line {
        width: 30%;
        padding-bottom: 20px;
      }
      &__btn {
        border: none;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-number {
          border: 1px solid var(--main-primary);
          border-radius: 100%;
          background-color: var(--main-primary);
          padding: 7px 12px;
          margin-top: 16px;
          color: var(--main-white);
          &-1 {
            padding: 7px 14px;
          }
        }
        &-section {
          font-family: 'Rubik';
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: var(--grey-30);
        }
      }
    }
    &-ARN {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-label {
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 15px;
        text-align: start;
      }
      &-info {
        border: 1px solid var(--grey-30);
        border-radius: 12px;
        padding: 12px 16px;
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: var(--grey-30);
      }
    }
    &-AWS {
      display: flex;
      justify-content: center;
      align-items: center;
      & p {
        margin-bottom: 0;
      }
      & input {
        margin-left: 100px;
      }
    }
    &-Payments {
      display: flex;
      justify-content: center;
      & form {
        width: 50%;
      }
      & label {
        display: block !important;
      }
    }
    &-cardSaved {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.Card {
  &__label {
    & p {
      font-family: 'Rubik';
      font-weight: 400;
      font-size: 16px;
      line-height: 17px;
      color: var(--main-text);
    }
  }
  &__button {
    @include buttons.button-lg;
    padding: 11px 20px;
    margin-top: 20px;
  }
  &__saved {
    width: 60%;
    border: 1px solid var(--grey-30);
    border-radius: 12px;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    & img {
      width: 50px;
      margin-top: -10px;
      margin-right: 25px;
    }
    & div {
      text-align: end;
    }
    &-buttons {
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
    }
    &-change {
      @include buttons.buttonOutline-lg;
      &:hover {
        background-color: var(--primary-90) !important;
      }
    }
    &-unsubscribe {
      color: var(--primary-70);
      border: none;
      background-color: transparent;
      font-family: 'Rubik';
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      &:hover {
        color: var(--main-primary);
      }
    }
  }
}

@media (min-width: 1280px) {
  .Account {
    &__container {
      margin-left: 300px;
      &-title {
        padding: 0 48px 0 0px;
        font-size: 26px;
      }
    }
  }
}

@media (min-width: 1536px) {
  .Account {
    &__container {
      width: 73%;
      margin-left: 500px;
    }
  }
}
