@use '../../theme/buttons.scss';

@mixin text {
  color: var(--grey-50);
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.AuthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  &__slider {
    margin-top: 15px;
    margin-right: 0px;
  }
  &__form {
    min-width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
    &-container {
      width: 328px;
    }
    &-title {
      font-size: 20px;
      margin-bottom: 15px;
      text-align: center;
      margin-top: 80px;
    }
    &-checkbox {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 10px auto 35px;
      &-input {
        border: 1px solid var(--grey-20);
        border-radius: 6px;
      }
      &-label {
        @include text();
        margin-left: 8px;
      }
    }
    &-input {
      border: 1.4783px solid var(--grey-20);
      border-radius: 6px;
      padding: 12px 10px;
      width: 288px;
      margin: 10px auto;
    }
    &-button {
      @include buttons.button-lg;
      width: 100%;
    }
    ::placeholder {
      @include text();
    }
    &-error {
      font-weight: 300;
      font-size: 11px;
      line-height: 13px;
      color: var(--error);
    }
  }
  &__redirect {
    color: var(--grey-50);
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    & a {
      color: var(--decoration-5);
      text-decoration: none;
    }
  }
}

@media (min-width: 1280px) {
  .AuthContainer {
    flex-direction: row;
    justify-content: center;
    &__form {
      margin-bottom: 0px;
      &-title {
        font-size: 26px;
        font-weight: 500;
        text-align: start;
      }
    }
  }
}

@media (min-width: 1536px) {
  .AuthContainer {
    &__slider {
      margin-right: 95px;
    }
  }
}
